[include]
  path = ~/.gitconfig.local
[hub]
  protocol = https
[alias]
  count   = !git shortlog -sn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = simple
[user]
	signingKey = 5DAF251FAFFAA0CAADA26EA676DCC0E8DFF43B4A
[commit]
	gpgSign = true
