[include]
  path = ~/.gitconfig.local
[hub]
  protocol = https
[alias]
  count   = !git shortlog -sn
  prettylog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[github]
  user = lmickh
[gpg]
  program = gpg
[push]
  default = simple
[user]
  name = Lucas Harms
  email = lmickh@gmail.com
  signingkey = AF9319E717429394
[commit]
  gpgSign = true
