[include]
  path = ~/.gitconfig.local
[hub]
  protocol = https
[alias]
  count   = !git shortlog -sn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = simple
[user]
    #name = Lucas Harms
[commit]
	gpgSign = true
