"*":
  "atom-terminal":
    app: "iTerm"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    disabledPackages: [
      "highlight-selected"
    ]
    projectHome: "/Users/lmickh/code"
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: false
    fontSize: 15
  "exception-reporting":
    userId: "e6f7b11b-52d9-1e5e-9df1-546f3187e8d8"
  "git-plus":
    general:
      _analyticsUserId: "1063e2eb-70c4-4ea6-af37-83b1bb62fcb4"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
